.myAccount {
   position: absolute;
   top: 100%;
   right: 0;
   display: block;
   width: 100px;
   text-align: center;
   border-radius: 4px;
   color: #fff;
   text-decoration: none;
   opacity: 0;
}
#collapsibleNavId ul li .nav-link {
   color: black;
   font-weight: 400;
}
#collapsibleNavId ul li .nav-link:hover{
   color: #fb4226;
}
.account {
   position: relative;
}
.myAccount a {
   text-decoration: none !important;
   color: white;
}
.account:hover .myAccount {
   opacity: 1;
}
.account p:hover .myAccount {
   opacity: 1;
}
nav {
   position: fixed !important;
   width: 100%;
   height: 60px;
   background-color: white;
   box-shadow: 0 5px 15px rgba(70, 50, 50, 0.1);
   z-index: 9;
}
.header {
   height: 60px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
